{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Diplomas and Schools
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="font-weight-light">2009</span>: <b>Master of Science</b>, major Computing Science with honors
                            <span class="float-right">Paris XI University (France)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-light">2007</span>: <b>Bachelor of Science</b>, major Computing Science
                            <span class="float-right">Paris XI University (France)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-light">2006</span>: <b>Associate of Science</b>, major Computing Science
                            <span class="float-right">University Institute of Technology of Arles (France)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-light">2004</span>: <b>High School degree</b>
                            <span class="float-right">France</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
