{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <img src="/img/avatar.png" width="200" height="200" class="rounded">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In a nutshell</h5>
                    <p class="card-text">
                        <span class="badge badge-secondary">9-year experience</span>
                        <span class="badge badge-secondary">San Francisco</span>
                        <span class="badge badge-secondary">Web</span>
                        <span class="badge badge-secondary">OOP</span>
                        <span class="badge badge-secondary">PHP</span>
                        <span class="badge badge-secondary">Symfony</span>
                        <span class="badge badge-secondary">Javascript</span>
                        <span class="badge badge-secondary">HTML5</span>
                        <span class="badge badge-secondary">CSS3</span>
                        <span class="badge badge-secondary">REST API</span>
                        <span class="badge badge-secondary">MongoDB</span>
                        <span class="badge badge-secondary">Redis</span>
                        <span class="badge badge-secondary">MySQL</span>
                        <span class="badge badge-secondary">Apache Phoenix</span>
                        <span class="badge badge-secondary">HBase</span>
                        <span class="badge badge-secondary">Presto</span>
                        <span class="badge badge-secondary">Kafka</span>
                        <span class="badge badge-secondary">Design Pattern</span>
                        <span class="badge badge-secondary">git</span>
                        <span class="badge badge-secondary">Vagrant</span>
                        <span class="badge badge-secondary">Docker</span>
                        <span class="badge badge-secondary">Facebook Ads API</span>
                        <span class="badge badge-secondary">Twitter Ads API</span>
                        <span class="badge badge-secondary">SCRUM</span>
                        <span class="badge badge-secondary">JIRA</span>
                    </p>
                    <a href="https://github.com/maphe" class="card-link">
                        <i class="fa fa-github" aria-hidden="true"></i> Github
                    </a>
                    <a href="https://stackoverflow.com/users/1439070/maphe" class="card-link">
                        <i class="fa fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Professional Summary
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Engineer
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Architect
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
