{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <img src="/img/avatar.png" width="200" height="200" class="rounded">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In a nutshell</h5>
                    <p class="card-text">
                        {% for skill in skills %}
                            <span class="badge badge-{{ skill.category.style }}">{{ ('skill.'~skill.slug)|trans([], 'skills') }}</span>
                        {% endfor %}
                    </p>
                    <a href="/pdf/Mathieu_Pheulpin-Resume.pdf" class="card-link">
                        <i class="fas fa-file-pdf" aria-hidden="true"></i> Resume
                    </a>
                    <a href="https://github.com/maphe" class="card-link">
                        <i class="fab fa-github" aria-hidden="true"></i> Github
                    </a>
                    <a href="https://stackoverflow.com/users/1439070/maphe" class="card-link">
                        <i class="fab fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Professional Summary
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Engineer
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Architect
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
