{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <img src="/img/avatar.png" width="200" height="200" class="rounded">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">In a nutshell</h5>
                    <p class="card-text">
                        {% for skill in skills %}
                            <span class="badge badge-{{ skill.category.style }}">{{ ('skill.'~skill.slug)|trans([], 'skills') }}</span>
                        {% endfor %}
                    </p>
                    <a href="https://github.com/maphe" class="card-link">
                        <i class="fab fa-github" aria-hidden="true"></i> Github
                    </a>
                    <a href="https://stackoverflow.com/users/1439070/maphe" class="card-link">
                        <i class="fab fa-stack-overflow" aria-hidden="true"></i> Stack Overflow
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row text-justify">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Professional Summary
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Nine-year experienced software engineer, focused on websites and web applications (SaaS). Competent on full web stacks,
                        yet mainly focused on backend side. Designing both the code and the architecture, following design patterns and good practices.
                    </p>
                    <p class="card-text">
                        I am interested in web technologies. I enjoy solving any kind of technical and intellectual challenge, applying my skills
                        in order to find out sustainable software solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row text-justify">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Engineer
                </div>
                <div class="card-body">
                    <p class="card-text">
                        I enjoy building engineering solutions in a clean and sustainable way. I adapt and apply proven patterns to the different
                        prblematics I'm facing. I like working with a team of engineers in order to share the knowledge in an efficient way.
                    </p>
                    <p class="card-text">
                        Regardless of the language, object oriented programing offers an infinity of ways to address the requierments of a project.
                        My motivation as an engineer is to find the best way considering the company context: resources, skillsets, deadlines.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Software Architect
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Beyond the code itself, I like to build what's around and oganize how pieces communicate and make the final product altogether.
                        Whether it is the best database storage system for a given feature or how micro-services exchange data, all aspects
                        of building a performant and evolutive software are motivating challenges.
                    </p>
                    <p class="card-text">
                        My goal is to design the best services allowing performance, evolutivity, and ease to operate.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
