{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <b>Marin Software</b>
                        <img src="http://www.marinsoftware.com/wp-content/uploads/images/marin-software-logo.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Staff Software Engineer/Architect</h5>
                        <h6 class="card-subtitle mb-2 text-muted">September 2013 - current | Paris, France & San Francisco, CA since Feb 2016</h6>
                        <p class="card-text">
                            <i>
                                Full-stack software architect leading a team of 10 engineers; responsible for the continued development of social
                                advertising capabilities within the Marin Software cross-channel platform.
                            </i>
                        </p>
                        <ul class="list-unstyled">
                            <li>Leadership
                                <ul>
                                    <li>Mentored junior software team to improve software design; initiated development of several features by team and
                                        reviewed progress on a daily basis, gave daily feedback and final approval</li>
                                    <li>Served as the key point of contact between all San Francisco teams and senior management in France; steered
                                        planning and prioritizing engineering activities</li>
                                    <li>Trained the team to understand and effectively apply SOLID principles</li>
                                    <li>Implemented new development process that significantly reduced bugs and increased engineer productivity</li>
                                </ul>
                            </li>
                            <li>Code Design/Microservice Architecture
                                <ul>
                                    <li>Led the switch from MongoDB to Hadoop Platform (HBase, Apache Phoenix, Presto); built a new ORM and reworked
                                        the entire app to integrate with Hadoop</li>
                                    <li>Built an extensible service that plugs in with 3rd party cloud services and enables users to import multimedia
                                        content as campaign assets (images/videos)</li>
                                    <li>Architected a rule engine allowing actions to be triggered based on expression evaluation</li>
                                    <li>Applied different design patterns making the code more sustainable and maintainable</li>
                                </ul>
                            </li>
                            <li>Performance Optimization
                                <ul>
                                    <li>Optimized several backend processes using proven techniques (e.g. async with Apache Kafka, smarter triggering
                                        vs cron), improving scalability and performance across all metrics</li>
                                    <li>Refactored OLAP database by denormalizing facts, migrating historical data, and redesigning the ETL pipeline to
                                        improve query speed</li>
                                    <li>Designed and implemented a log tracer across microservices relying on ELK, which improved full stack monitoring
                                        capabilities, making it easier to identify bottlenecks</li>
                                </ul>
                            </li>
                            <li>Database Design and Analysis
                                <ul>
                                    <li>Moved from MongoDB to Hadoop with Apache Phoenix on top of HBase for transactional data and Presto with HDFS
                                        for analytics</li>
                                    <li>Managed discussions with Search team in order to design schemas that would fit both channel data and proposed
                                        unified standards</li>
                                    <li>Unified all channels into a single storage system in order to develop cross channel features</li>
                                    <li>Completed production migration of SaaS app within one year to leverage the Hadoop platform</li>
                                </ul>
                            </li>
                            <li>API Development
                                <ul>
                                    <li>Published API aside of the SaaS platform allowing clients to access features via their own system with
                                        detailed documentation</li>
                                    <li>Built integrations to connect with multiple publisher APIs to manage customer campaigns</li>
                                    <li>Managed integration with multiple publishers (Facebook, Twitter, LinkedIn)</li>
                                    <li>Developed SDKs encapsulating API endpoints, reducing the impact of breaking changes</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        {{ macro.skill_badges([
                            'php', 'symfony', 'scala', 'hbase', 'phoenix', 'presto', 'kafka', 'redis',
                            'mongo', 'bootstrap', 'jquery', 'angular', 'rest', 'postman', 'swagger', 'microservice',
                            'github', 'jira', 'phpunit', 'phpstorm', 'intellij', 'jenkins', 'vagrant', 'docker'
                        ]) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b>SocialMoov</b> <i>(then acquired by <b>Marin Software</b>)</i>
                        <img src="https://befoundonline.com/wp-content/uploads/2015/09/social-moov-logo.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Senior Software Engineer</h5>
                        <h6 class="card-subtitle mb-2 text-muted">September 2013 - February 2015 | Paris, France</h6>
                        <p class="card-text">
                            <i>
                                Developed social digital Advertising Platform designed to manage advertising campaigns on Facebook and Twitter
                            </i>
                        </p>
                        <ul>
                            <li>Technical lead for 7 engineers</li>
                            <li>Developed new features and gave general guidance to team (best practices, design patterns)</li>
                            <li>Performed regular code reviews</li>
                            <li>Improved stability and maintainability by guiding a startup team to follow industry standards </li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        {{ macro.skill_badges([
                            'php', 'symfony', 'doctrine', 'mongo', 'bootstrap', 'jquery',
                            'highcharts', 'rest', 'postman', 'gitlab', 'redmine', 'phpstorm'
                        ]) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b>Smile</b> | <b>Globalis</b> | <b>Wunderman</b>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Wunderman_Logo_2015.png" class="float-right ml-2" height="25">
                        <img src="https://www.globalis-ms.com/media/2015/09/globalis-logo.png" class="float-right ml-2" height="25">
                        <img src="https://www.smile.eu/themes/custom/smileeu/assets/images/logo_footer.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Software Engineer, Consultant</h5>
                        <h6 class="card-subtitle mb-2 text-muted">April 2009 - September 2013 | Paris, France</h6>
                        <p class="card-text">
                            <i>
                                Worked on multiple software web projects for agencies (Wunderman, Globalis, and Smile) serving large French
                                and international consumer brands like Dior and Dannon
                            </i>
                        </p>
                        <ul>
                            <li>Led effort to build consumer web experiences to improve engagement and revenue</li>
                            <li>Projects ranged from 2 weeks to 12 months</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        {{ macro.skill_badges([
                            'php', 'symfony', 'zend', 'doctrine', 'ezpublish', 'mysql',
                            'html', 'css', 'git', 'svn'
                        ]) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
