{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Marin Software
                        <img src="http://www.marinsoftware.com/wp-content/uploads/images/marin-software-logo.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Staff Software Engineer/Architect</h5>
                        <h6 class="card-subtitle mb-2 text-muted">September 2013 - current</h6>
                        <p class="card-text">
                            Lorem ipsum
                        </p>
                        <p class="card-text">
                            Lorem ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
