{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <b>Marin Software</b>
                        <img src="http://www.marinsoftware.com/wp-content/uploads/images/marin-software-logo.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Staff Software Engineer/Architect</h5>
                        <h6 class="card-subtitle mb-2 text-muted">September 2013 - current | Paris, France & San Francisco, CA since Feb 2016</h6>
                        <p class="card-text">
                            <i>
                                Integrating the SocialMoov platform to the Marin Software product, adding cross channel capabilities (search and social),
                                keeping focusing on the Social product all along.
                            </i>
                        </p>
                        <ul class="list-unstyled">
                            <li>Technical lead of a ~10 engineer team
                                <ul>
                                    <li>Gave general guidance to the team (best practices, design patterns)</li>
                                    <li>Wrote technical specs</li>
                                    <li>Wrote code skeletons</li>
                                    <li>Performed code review</li>
                                </ul>
                            </li>
                            <li>Improved the Social Advertising SaaS platform stability
                                <ul>
                                    <li>Developed SDKs for multiple publisher ad APIs</li>
                                    <li>Followed industrial processes (SCRUM)</li>
                                </ul>
                            </li>
                            <li>Provided a customer facing API with core app features, allowing clients plug their own ERPs</li>
                            <li>Managed to migrate both OLTP and OLAP data from MongoDB to Hadoop Platform, as part of a company technological switch plan</li>
                            <li>Designed new features, code-wise and microservices
                                <ul>
                                    <li>Custom from scratch ORM for API layer on top of Phoenix Database</li>
                                    <li>Multi-provider asset storage service, offering capability to retrieve images and videos from multiple 3rd party cloud storage services</li>
                                    <li>Multi-criteria service that manages statuses up and down a tree of objects</li>
                                    <li>Rule engine executing pre-defined actions based on flexible criterion</li>
                                </ul>
                            </li>
                            <li>Optimized multiple aspects of the application
                                <ul>
                                    <li>Improved scalability by interfacing with an async messaging queue (Kafka)</li>
                                    <li>Built smart triggering service that launches backend jobs based on relevant criterion instead of scheduled recurring times, saving resources</li>
                                    <li>Re-factored production db by denormalizing data, improving query response time (live data migration involved), cutting query response times</li>
                                    <li>Re-designed Phoenix tables primary keys to better fit access patterns</li>
                                    <li>Full stack performance tracer for better monitoring (with ELK)</li>
                                </ul>
                            </li>
                            <li>Managed technical communication between Paris and SF teams</li>
                            <li>Integrated multiple third-party APIs (Facebook, Twitter, Google, …)</li>
                            <li>Involved in several projects from other teams
                                <ul>
                                    <li>Dimension ETL for transactional data to OLAP cube</li>
                                    <li>Fact ETL for publisher analytics data to OLAP cube</li>
                                    <li>Internationalization/Translation service</li>
                                    <li>API layer on top of Hadoop OLTP Platform</li>
                                    <li>API layer on top of Presto OLAP Database</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        <span class="badge badge-secondary">PHP</span>
                        <span class="badge badge-secondary">Symfony</span>
                        <span class="badge badge-secondary">Scala</span>
                        <span class="badge badge-secondary">HBase</span>
                        <span class="badge badge-secondary">Apache Phoenix</span>
                        <span class="badge badge-secondary">Presto</span>
                        <span class="badge badge-secondary">Apache Kafka</span>
                        <span class="badge badge-secondary">Redis</span>
                        <span class="badge badge-secondary">MongoDB</span>
                        <span class="badge badge-secondary">Bootstrap</span>
                        <span class="badge badge-secondary">JQuery</span>
                        <span class="badge badge-secondary">Angular</span>
                        <span class="badge badge-secondary">REST</span>
                        <span class="badge badge-secondary">Postman</span>
                        <span class="badge badge-secondary">Microservices</span>
                        <span class="badge badge-secondary">GitHub</span>
                        <span class="badge badge-secondary">JIRA</span>
                        <span class="badge badge-secondary">PHPUnit</span>
                        <span class="badge badge-secondary">PHPStorm</span>
                        <span class="badge badge-secondary">IntelliJ</span>
                        <span class="badge badge-secondary">Jenkins</span>
                        <span class="badge badge-secondary">Vagrant</span>
                        <span class="badge badge-secondary">Docker</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b>SocialMoov</b> <i>(then acquired by <b>Marin Software</b>)</i>
                        <img src="https://befoundonline.com/wp-content/uploads/2015/09/social-moov-logo.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Senior Software Engineer</h5>
                        <h6 class="card-subtitle mb-2 text-muted">September 2013 - February 2015 | Paris, France</h6>
                        <p class="card-text">
                            <i>
                                Working on the Social Digital Advertising Platform, designed to manage advertising campaigns on Facebook and Twitter.
                            </i>
                        </p>
                        <ul class="list-unstyled">
                            <li>Technical lead of a ~7 engineer team
                                <ul>
                                    <li>Gave general guidance to the team (best practices, design patterns)</li>
                                    <li>Performed code review</li>
                                    <li>Developed new features</li>
                                </ul>
                            </li>
                            <li>Improved stability and maintainability by making a startup team follow industrial standards</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        <span class="badge badge-secondary">PHP</span>
                        <span class="badge badge-secondary">Symfony</span>
                        <span class="badge badge-secondary">Doctrine</span>
                        <span class="badge badge-secondary">MongoDB</span>
                        <span class="badge badge-secondary">Bootstrap</span>
                        <span class="badge badge-secondary">JQuery</span>
                        <span class="badge badge-secondary">Highcharts</span>
                        <span class="badge badge-secondary">REST</span>
                        <span class="badge badge-secondary">Postman</span>
                        <span class="badge badge-secondary">GitLab</span>
                        <span class="badge badge-secondary">Redmine</span>
                        <span class="badge badge-secondary">PHPStorm</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <b>Smile</b> | <b>Globalis</b> | <b>Wunderman</b>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Wunderman_Logo_2015.png" class="float-right ml-2" height="25">
                        <img src="https://www.globalis-ms.com/media/2015/09/globalis-logo.png" class="float-right ml-2" height="25">
                        <img src="https://www.smile.eu/themes/custom/smileeu/assets/images/logo_footer.png" class="float-right" height="25">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Software Engineer, Consultant</h5>
                        <h6 class="card-subtitle mb-2 text-muted">April 2009 - September 2013 | Paris, France</h6>
                        <p class="card-text">
                            <i>
                                Working on several web projects, both in HQ and in customer facilities, for missions from 2 weeks to 1 year long. Evolving
                                in a lot of different environments, teams, processes and technologies.
                            </i>
                        </p>
                        <ul class="list-unstyled">
                            <li>Developed multiple brand websites (Dior, Bouygues Telecom, ...)</li>
                            <li>Developed temporary event websites, including giveaways (Dannon, Nokia, …)</li>
                            <li>Improved an insurance company internal web platform</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                        Technologies:
                        <span class="badge badge-secondary">PHP</span>
                        <span class="badge badge-secondary">Symfony</span>
                        <span class="badge badge-secondary">Zend</span>
                        <span class="badge badge-secondary">Doctrine</span>
                        <span class="badge badge-secondary">EzPublish</span>
                        <span class="badge badge-secondary">MySQL</span>
                        <span class="badge badge-secondary">HTML</span>
                        <span class="badge badge-secondary">CSS</span>
                        <span class="badge badge-secondary">Git</span>
                        <span class="badge badge-secondary">SVN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
